@import "@styles/mixins";
@import "@styles/variables";

.container {
  background: white;
  box-shadow: $mainShadow;
  height: 60px;
  position: relative;
  z-index: 999;
  @include flex-center;
  &__content {
    @include flex-center;
    justify-content: space-between;
    margin: 0px 20px;
  }
}

.logo {
  @include flex-center;
  cursor: pointer;
  &__title {
    margin-left: 5px;
    font-size: 18px;
    color: $mainColor;
    font-weight: 300;
    span {
      font-weight: 600;
      color: $textColorTwo;
      margin-left: 2px;
    }
  }
}

.navbar {
  display: flex;
  label {
    display: none;
    cursor: pointer;
    @media (max-width: $responsiveTable) {
      display: initial;
    }
    span {
      font-size: 20px;
      color: $mainColor;
    }
  }
  &__content {
    list-style: none;
    @media (max-width: $responsiveTable) {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: white;
      display: none;
      padding: 10px;
      box-shadow: $mainShadow;
    }
    ul {
      li {
        position: relative;
        float: left;
        list-style: none;
        margin: 0 15px;
        @media (max-width: $responsiveTable) {
          width: 100%;
          margin: 0;
          margin-bottom: 15px;
        }
        a {
          font-size: 14px;
          font-weight: 600;
          padding: 12px 25px;
          color: #595959;
          display: block;
          &:hover {
            color: $mainColor;
          }
        }
      }
    }
  }
  &__login,
  &__register {
    border-radius: 50px;
  }
  &__login {
    background-color: white;
    border: 1px solid $mainColor;
    a {
      color: $mainColor !important;
    }
  }
  &__register {
    background-color: $mainColor;
    a {
      color: white !important;
    }
  }
}
