#menu-bar {
  display: none;
}

.lol {
  display: flex;
  label {
    display: none;
  }
}

.navbar {
  list-style: none;
  ul {
    li {
      position: relative;
      float: left;
      list-style: none;
      a {
        font-size: 20px;
        padding: 20px;
        color: #595959;
        display: block;
        &:hover {
          background-color: #333;
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .lol {
    label {
      display: initial;
    }
  }
  .navbar {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: red;
    display: none;
    ul {
      li {
        width: 100%;
      }
    }
  }
}

#menu-bar:checked ~ nav {
  display: initial;
}
