@import "@styles/variables";

.container {
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 25px;
  height: 46px;
}

.primary {
  background-color: $mainColor;
  color: white !important;
  border: $mainColor;
  &:hover,
  &:focus,
  &:active {
    background-color: $mainColor;
    color: white !important;
    border: $mainColor;
  }
}
